<div class="card">
  <div class ="card-body">
    <h1>Edit Album</h1>
    <%= form_with( model: @album, local: true) do |form| %>
      <p><%= form.label :title %><br>
        <%= form.text_field :title %>
        <% @album.errors.to_hash[:title].each do |error| %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% end %>
      </p>
    
      <p><%= form.label :artist_name %><br>
        <%= form.text_field :artist_name %>
        <% @album.errors.to_hash[:artist_name].each do |error| %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% end %>
      </p>

      <p><%= form.label :year_released %><br>
        <%= form.date_field :year_released %>
        <% @album.errors.to_hash[:year_released].each do |error| %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% end %>
      </p>
    
      <p>
        <%= form.submit class: "btn btn-success" %> <%= link_to 'back to index', albums_path, class: "btn btn-info" %>
      </p>
    <% end %>
  </div>
</div>