<h1><%= @album.title %></h1>
<p><%= @album.artist_name %>, <%= @album.year_released.year %><p>
<nav>
  <%= link_to 'back to index', albums_path %>
  <%= link_to 'edit', edit_album_path(@album) %>
  <%= link_to 'delete', album_path(@album), method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>